body{
font-family:'Poppins',sans-serif;
background:#f5f7fa;
text-align:center;
margin:0;
}

/* RoomFit title */

h1{
color:white;
background:linear-gradient(90deg,#4CAF50,#2e7d32);
padding:15px;
border-radius:10px;
width:300px;
margin:25px auto;
letter-spacing:2px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* Inputs */

input{
padding:10px;
margin:6px;
width:220px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
}

/* Button */

button{
padding:10px 18px;
background:#4CAF50;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:15px;
margin-top:10px;
}

button:hover{
background:#43a047;
}

/* Room preview */

#roomBox {
    position: relative;

    width: 400px;
    height: 400px;

    border: 6px solid #444;   /* walls */

    background-color: #f5f5f5; /* floor color */

    box-shadow: 
        inset 0 0 20px rgba(0,0,0,0.15), 
        0 8px 20px rgba(0,0,0,0.2);

    margin-top: 10px;
}
#furnitureBox{
position:absolute;
background:#4CAF50;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:600;
cursor:grab;
border-radius:6px;
box-shadow:0 3px 8px rgba(0,0,0,0.25);
}

#furnitureLabel{
pointer-events:none;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;

    background: linear-gradient(-45deg, #d4f1f4, #e6f0ff, #d0f0c0, #e3f2fd);
    background-size: 400% 400%;

    animation: gradientMove 12s ease infinite;

    min-height: 100vh;
    padding: 30px;
}
@keyframes gradientMove {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}
.title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;

    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* orange gradient */
    color: white;

    padding: 10px 25px;
    border-radius: 10px;

    display: inline-block;

    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
